.why-choseus{
    padding: 4rem 7%;
    background-color: lightblue;
}
.main-chose{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}
.inner-chose{
    flex: 1 1 45rem;
}
.inner-chose .cute{
    background: url('./images/cute.jpg');
    width:38rem;
    height: 22rem;
   
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    margin-top: 21px;
  display: flex;
  justify-content: center;
  float: left;
  border-radius: 12px;
}
.inner-chose h1{
    font-size: 40px;
    color:#239f85;
    margin-bottom: 16px;
    position: relative;
    top:-34%;
    left:6%;
}
.main-inner-chose{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
    
}
.inner-chose-content{
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
   margin-top:23px;
   padding: 23px;
   position: relative;
   top:-4rem;
   left:6rem;
 
}
.chose-icon i{
    width: 3.3rem;
    height: 3.3rem;
   line-height: 3rem;
    background-color: white;
    color: goldenrod;
    font-size: 2rem;
    text-align: center;
    box-shadow: rgba(76, 11, 181, 0.35) 0px 5px 15px;
}
.icon-content{
   padding: 1rem;
   margin-top: 1rem;
}
